.space {
    display: flex;
    justify-content: center;
    height: 30%;
    width: 50%;
    margin: 15px;
    background-color: rgb(33, 29, 39);
}
  
.card {
    display: flex;
    align-items: center;
    margin: 40px;
    color: #fcfcfc;
}
  
.map {
    margin-right: 10px; /* Add margin for spacing between map and text */
}
  
.text {
    display: flex;
    flex-direction: column;
    color: #fcfcfc;
}
  
.img-small {
    width: 250px;
    height: 250px;
    margin-right: 15px;
}
.button{
    display: flex;
    flex-direction: column;
    color: #fcfcfc;
    margin-top: 10vh;
}