<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/utils.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/bot.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/input.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2aac6f8878.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="menu" class="nav-div">
        <nav class="nav-nav">
            <ul>
                <li><a href="./server">Home</a></li>
                <li><a href="./bot">Bot</a></li>
                <li><a href="./cli">Console</a></li>
                <li><a href="./forum">Forum</a></li>
            </ul>
        </nav>
        <nav class="nav-nav">
            <ul>
                <li class="li-align"><a href="./profile">{{ username }}</a></li>
                <li><a href="./logout"><i class="fa-solid fa-right-from-bracket" style="color: #ffffff;"></i></a></li>
            </ul>
        </nav>
    </div>
    <div>
        <form action="/bot" method="POST">
            <p class="button">
                <a href="./addBot"><input type="submit" value="Add bot"></a>
            </p>
            <p class="button">
                <a href="./removeBot"><input type="submit" value="Remove bot"></a>
            </p>
            <p>
                <input type="submit" name="submit_button" value="initBot">
            </p>
        </form>
    </div>
</body>
</html>